<!-- <div class = "row">
	<div class="small-12 columns welcome"> -->
		<!-- <h2 class = "text-center section_title">Welcome</h2> -->
		<div class = "row">
			<!-- <br>
			<br> -->
			<!-- <div class = "small-12 medium-4 columns text-center">
				<img src="musicheadS.jpg" alt = "headphoneImage">
			</div> -->
			<div class = "small-12 columns welcome">
				<p class = "intro_para">Hey DJ! Music Club is where you can share your favorite music with the world.</p>
				<p class = "intro_param">Submit your favorite songs to the world community list, then create your personal playlist and add any song you want!</p>
			</div>
		</div>
	<!-- </div> -->
<!-- </div> -->


<div class = "row">

	<br>
	<br>
	<br>
	<div class = "small-12 medium-6 columns text-center">
		<div class = "login">
			<h4>Already a member? <a class = "title" href="/log">Log In.</a></h4>
		</div>
	</div>

	<div class = "small-12 medium-6 columns text-center">
		<div class = "register">
			<h4>New to the club? <a class = "title" href="/reg">Register here.</a></h4>
		</div>
	</div>

</div>