/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *= require_self

 */

body{
	
  	/*background-color: #66b2ff;*/
  	/*background-color: rgba(102, 178, 255, .5);*/
  	background-image: linear-gradient(rgba(102, 178, 255, .5),rgba(102, 178, 255, .5)), url(phones.jpg);
  	/*background: url(phones.jpg); */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
  	 
  	margin-left: 15px;
  	margin-right: 15px;

  	color: rgb(43,51,54)
}

section{
	min-height: 100%;
	position: relative;
}

/****************** General ********************/

.section_title{
	color: #2B3336;
	text-shadow: 1px 1px 3px whitesmoke;
}

.title{
	color: #0066CC;
	text-shadow: 1px 1px 2px whitesmoke;
}

.title:hover{
	color: #003399;
}
/*.botpad{
	padding-bottom: 20%;
}*/
label{
	color: rgb(43,51,54);
}

button{
	color: rgb(43,51,54);
	text-shadow: 1px 1px 2px whitesmoke;
}

.atext{
	color: rgb(43,51,54);
	text-shadow: 1px 1px 2px whitesmoke;
}

.content{
	margin-bottom: 15%;
}
/****************** Header/Footer ********************/

/*header, footer{
	background-color: slategray;
	color: whitesmoke;
	padding: 0px 10px 0px 10px;
}
*/
header{
	margin-bottom: 2%;
}

footer{
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	font-size: .75rem;
}

/****************** Splash ********************/

.login, .register{
	height: 125px;
	margin: 5px;
}

.welcome{
	padding-bottom: 15px;
}

.intro_para{
	font-size: 1.4rem;
}


/*(239,240,244)*/
/****************** Songs/Index ********************/

.hub{
	margin-right: 20px;
}


.red{
	color: red;
	text-shadow: 1px 1px 2px black;

}

img{
	border: 3px solid #0066CC;
	max-width: 60%;
	margin-bottom: 15px;
}












